body {
   color:       $color-copy;
   font-family: 'helvetica neue', arial, helvetica, sans-serif;
   font-size:   100%;
   font-weight: 300;
}

h1,h2,h3,h4,h5,h6 {
   line-height: 1.2;
   margin: 0;
}
p {
   font-size: .875em;
   margin:    0 0 1.5em;
}