// Colors
$color-gray-xlt: #f6f6f6;
$color-gray-lt:  #f3f3f3;
$color-gray-md:  #d4d4d4;
$color-gray-ui:  $color-gray-md;

$color-brand:    #EA705E;
$color-action:   green;

$color-copy:     #8e8e8e;
$color-heading:  #5e5e5e;

// Layout
$base-spacing-unit: 12px;


$border-radius: 6px;
