@import "vars";
@import "typography";
@import "task-container";
@import "task-item";

* { box-sizing: border-box; }

body {
   background: $color-gray-lt;
   margin:     $base-spacing-unit * 4;
}

ul, ol {
   list-style: none;
   margin:     0;
   padding:    0;
}

.container {
   margin:    0 auto;
   max-width: 640px;
   width:     85%;
}
