<div class="container">
   <div class="task-window">
      <div class="list__header">
         <h3>Current Tasks</h3>
      </div>
      <div class="list__container">
         <ul>
            <li ng-hide="expired" ng-repeat="task in tasks" class="list__container-item">
               <span>
                  {{ task.text }}<br>
                  {{ task.age | formatDate }}<br>
                  {{ task.status }}
               </span>

            </li>
         </ul>
      </div>
      <form class="list__input">
         <input type="text" ng-model="newTaskText" class="input--list-item" placeholder="Add a new task...">
         <div class="btn-action">
            <button ng-click="addTask()" class="btn--list-item" type="submit">
               <i class="add">+</i>
            </button>
         </div>
      </form>
   </div>
</div>
